<form method="post">
    <div>ID= <input name="ID" value="<%= user.ID %>"/></div>
    <div>USERNAME= <input name="USERNAME" value="<%= user.USERNAME %>"/></div>
    <div>EMAIL= <input name="EMAIL" value="<%= user.EMAIL %>"/></div>
    <div>FIRSTNAME= <input name="FIRSTNAME" value="<%= user.FIRSTNAME %>"/></div>
    <div>LASTNAME= <input name="LASTNAME" value="<%= user.LASTNAME %>"/></div>
    <div>BIRTHDATE= <input name="BIRTHDATE" value="<%= user.BIRTHDATE %>"/></div>
    <div>DESCRIPTION= <input name="DESCRIPTION" value="<%= user.DESCRIPTION %>"/></div>
    <div>IMGURL= <input name="IMGURL" value="<%= user.IMGURL %>"/></div>
    <button>Kaydet</button>
</form>